<script type="text/javascript">
  $('document').ready(function(){
      $('body').attr('data-spy','scroll');
      $('body').attr('data-target', '.documentation-nav');
  });   
</script>
<section class="section-content">
    <div class="container">
      <div class="row">
        <div class="span3 documentation-nav affix hidden-phone">
          <ul class="nav nav-pills nav-stacked">
            <%first=[]
            feats=@feats%> 
            <%first<<feats.shift%>
            <%first=first.first%>
            <li class="active"><a href="#section-<%=first.id%>">
              <i class="icon-angle-right pull-right"></i>
              <%=first.title%>
            </a></li>
            <%feats.each do |f|%>
                <li><a href="#section-<%=f.id%>">
                  <i class="icon-angle-right pull-right"></i>
                 <%=f.title%>
                </a></li>
            <%end%>
          </ul>
        </div>
        <div class="span6 offset3">
          <h2 class="section-title">
            Особенности Программы
            <small>
              Почему она крутая
            </small>
          </h2>
            <div >
              <section class="section-content section-<%=first.id%>" id="section-<%=first.id%>">
                <h3 class="section-title">
                  <%=first.title%>
                </h3>
                <p><%= raw first.description%></p>
              </section>
                <%@feats.each do |f|%>
                  <section class="section-content section-<%=f.id%>" id="section-<%=f.id%>">
                    <h3 class="section-title">
                      <%=f.title%>
                    </h3>
                    <p><%=raw f.description%></p>
                  </section>
                <% end %>
          </div>
        </div>
      </div>
    </div>
</section>
<div class="post-footer section-content section-content-mini section-color-graydark">
    <div class="container">
      <p class="pull-right">
        Designed by
        <a href="http://ppparticularity.com">ppparticularity</a>
      </p>
      <p>&copy; Simiot 2013 - All rights reserved</p>
    </div>
  </div>