<%= form_for request, :class=>'form-vertical',:id=>'request-form',:remote => true do |f| %>
	<div style='display:none'>
		<%= f.text_field :name , :id=>"request-name" %>
	</div>
	<div class="control-group">
		<label for="request-region"></label>
		<%= f.text_field :region ,:class=>"span3",:id=>'request-region', :placeholder=> 'Регион'%>
	</div>
	<div class="control-group">
		<label for="request-contact"></label>
		<%= f.text_field :contact ,:class=>"span3",:id=>'request-contact', :placeholder=> 'Контактное лицо'%>
	</div>
	<div class='control-group'>
		<label for="request-name-surname"></label>    
		<%= f.text_field :phone ,:class=>"span3", :id=>"request-phone", :placeholder => 'Контактный телефон'%>
	</div>
	<div class="control-group">
		<label for="request-email"></label>
		<%= f.email_field :email ,:class=>"span3",:id=>'request-email', :placeholder=> 'email'%>
	</div>	       
		<span class="help-inline err_req">
			<%= render :partial=>'lic_requests/errors'%>
		</span>
        	<%= f.submit :value=>'Отправить запрос', :class=>'btn btn-small'%>	
<% end %>