<div class='contract'>
	<script type="text/javascript">
		$('.spoiler-body').hide();
		$('.spoiler-head').on('click',function(){
			$(this).toggleClass('folded').toggleClass('unfolded').next().slideToggle();	
		});
		$('.spoiler-info-body').hide();
		$('.spoiler-info-head').on('click',function(){
			$(this).toggleClass('folded').toggleClass('unfolded').next().slideToggle();	
		});
		$('.empty-li').each(function(){
			if ($(this).html()==" " || $(this).html()=="")
			{
				$(this).parent().empty();
			}
		});
	</script>
	<h3>Заключённые договора</h3>
	<%@orders=Order.where(:user_id=>current_user.id)%>
	<div class='row span6'>
		<%if @orders.empty?%>
			<label>Договор не заключен</label>
		<%else%>
			<%@orders.order("id desc").each do |order|%>
					<div class="spoiler-wrap span7">
					<div class="spoiler-head folded lft">Заказ № <%= order.id%></div>
						<div class="spoiler-body span6">
								<div class=''>
									<h4>Мои данные</h4>
									<h5>Название компании или физического лица</h5>
									<span class="input-xlarge uneditable-input span6"><%=order.name%></span>
									<div class='spoiler-info row span5'>
										<div class='spoiler-info-head folded'>Показать подробные данные</div>
										<div class='spoiler-info-body'>
											<li class='info-li'><span> Адрес: </span><span class='empty-li'> <%= order.address%></span></li>
											<li class='info-li'><span> Реквизиты: </span><span class='empty-li'> <%= order.inn%></span></li>
											<li class='info-li'><span>Субъект РФ: </span><span class='empty-li'> <%= order.region%></span></li>
											<li class='info-li'><span>Телефон: </span><span class='empty-li'> <%=order.phone%></span></li>
											<li class='info-li'><span>Email: </span><span class='empty-li'><%= order.email%></span></li>
											<li class='info-li'><span>Факс: </span><span class='empty-li'><%= order.faks%></span></li>
											<li class='info-li'><span>Контактное лицо: </span><span class='empty-li'><%=order.contact%></span></li>
											<li class='info-li'><span>ОГРН: </span><span class='empty-li'><%= order.ogrn%></span></li>
											<li class='info-li'><span>Руководитель: </span><span class='empty-li'><%=order.manager%></span></li>
											<li class='info-li'><span>Название банка: </span><span class='empty-li'><%=order.bank_name%></span></li>
											<li class='info-li'><span>Расчётный счёт: </span><span class='empty-li'><%=order.ras_schet%></span></li>
											<li class='info-li'><span>Корреспондентский стчёт: </span><span class='empty-li'><%=order.kor_schet%></span></li>
											<li class='info-li'><span>БИК: </span><span class='empty-li'><%=order.bik%></span></li>
											<li class='info-li'><span>Дата создания: </span><span class='empty-li'><%=order.created_at.to_date%></span></li>

										</div>
									</div>	
								</div>
								<div class=''>
								<table class='table table-bordered table-condensed'>
									<caption>Заказанные программные продукты</caption>
									<thead>
										<tr>
											
											<th>№</th>
											<th>Программа</th>
											<th>Количество</th>
											<th>Стоимость(за ед.)</th>
											<th>Сумма</th>
										</tr>
									</thead>
									<tbody>
										<%order.line_items.each_with_index do |item, index |%>
											<tr>
												<td><%= index+1	%></td>
												<td><%= item.material.name%></td>
												<td><%= item.quantity%></td>
												<td><%= item.price.to_i%></td>
												<td><%= item.amount.to_i%></td>
											</tr>	
										<%end%>
									</tbody>
									<tr>
										<td></td>
										<td>Итого:</td>	
										<td></td>
										<td></td>
										<td><%= order.total%></td>
									</tr>
								</table>
								</div>
								<div class='row' align='center'>
									<h4>Лицензионные ключи</h4>
									<label>empty</label>
								</div>
								<div class='row' align='center'>
									<h4>История установок</h4>
									<label >empty</label>
								</div>
							</div>
					</div>
			<%end%>
		<%end%>
	</div>
</div>