<footer class="section-color-primarydark">
 <div class="container">
  <%@data=DataContact.first%>
      <div class="row">
        <div class='span1'></div>
        <div class="span3">
          <div class="widget">
            <address>
              <strong><%=@data.name%></strong>
              <br />
              <%=@data.address%>
              <abbr title="email">email:</abbr>
              <%= mail_to @data.email%>
              <br />
              <abbr title="Телефон">Факс:</abbr>
              <a><%=@data.phone%></a>
            </address>
          </div>
        </div>
        <div class="span3">
          <div class="widget">
            <h5>Подписаться на новости </h5>
            <p>Следите за последними обновлениями</p>
            <span id='news-letter'>
             <%= render :partial => 'subscribers/form', :locals=>{:subscriber=>Subscriber.new}%>
            </span>
          </div>
        </div>
       
        <div class="span3">
          <div class="widget">
            <h5>Свяжитесь с нами</h5>
            <div class='contact-feed'>
            <%= render :partial =>'feedbacks/form', :locals=>{:feedback=>Feedback.new}%>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>