<script type="text/javascript" >
	$('#order_form').on('submit',function(){
     message = confirm("Все данные введены правильно? На основе анкеты будет заключаться договор.");
      if(message) {
        return true;
      } else {
       return false;
      }
	});
</script>
<%= form_for @order, :remote=>true,:html=>{:id=>'order_form',:class=>"form-vertical span6 row-marg"}, :method=>'post' do |f|%>
	
		<div class="control-group">    
			<%= f.text_field :name ,:class=>"span6", :id=>"q-name", :placeholder => 'Название юридического или физического лица *', :value=>current_user.company%><span class='nemp'></span>
		</div>
		<div class="control-group">    
			<%= f.text_field :address ,:class=>"span6 empt", :id=>"q-address", :placeholder => 'Адрес'%>
		</div>
		<div class="control-group">    
			<%= f.text_field :inn ,:class=>"span6 empt", :id=>"q-inn", :placeholder => 'Реквизиты(ИНН, КПП или паспортные данные)'%>
		</div>
		<div class="ui-widget control-group qi" style='font-size:1em !important;'>
            <%= f.text_field :region ,:class=>"span6",:id=>'tags1', :placeholder=> 'Субъект РФ', :style=>'font-size:1em !important;',:value=>current_user.region%>
        </div>
		<div class="control-group qi">    
			<%= f.text_field :phone ,:class=>"span3", :id=>"q-phone", :placeholder => 'Телефон *', :value=>current_user.phone%>
		</div>
		<div class="control-group qi qi-float">    
			<%= f.email_field :email ,:class=>"span3", :id=>"q-email", :placeholder => 'email *', :value=>current_user.email%>
		</div>
		<div class="control-group qi">    
			<%= f.text_field :faks ,:class=>"span3 empt", :id=>"q-faks", :placeholder => 'Факс'%>
		</div>
		<div class="control-group qi qi-float">    
			<%= f.text_field :contact ,:class=>"span3", :id=>"q-contact", :placeholder => 'Контактное лицо', :value=>current_user.contact%>
		</div>
		<div class="control-group">    
			<%= f.text_field :ogrn ,:class=>"span6 empt", :id=>"q-ogrn", :placeholder => 'ОГРН'%>
		</div>
		<div class="control-group">    
			<%= f.text_field :manager ,:class=>"span6 empt", :id=>"q-manager", :placeholder => 'ФИО Руководителя'%>
		</div>
		<div class="control-group">    
			<%= f.text_field :manager_status ,:class=>"span6 empt", :id=>"q-manager", :placeholder => 'Должность Руководителя'%>
		</div>
		<div class="control-group">    
			<%= f.text_field :manager_reason ,:class=>"span6 empt", :id=>"q-manager", :placeholder => 'На основании чего действует руководитель'%>
		</div>
		<label>Банковские реквизиты(если есть)</label>
		<div class="control-group">    
			<%= f.text_field :bank_name ,:class=>"span6 empt", :id=>"q-bank_name", :placeholder => 'Название банка (вместе с городом нахождения банка)'%>
		</div>
		<div class="control-group">    
			<%= f.text_field :ras_schet ,:class=>"span6 empt", :id=>"q-ras_schet", :placeholder => 'Расчётный счёт'%>
		</div>
		<div class="control-group">    
			<%= f.text_field :kor_schet ,:class=>"span6 empt", :id=>"q-kor_schet", :placeholder => 'Корреспондентский счёт'%>
		</div>
		<div class="control-group">    
			<%= f.text_field :bik ,:class=>"span6 empt", :id=>"q-bik", :placeholder => 'БИК'%>
		</div>

	<table class='table table-striped table-bordered table-condensed'>
		Я хочу купить следующие программные продукты
		<thead>
			<tr>
				<th>Программа</th>
				<th>Стоимость(за ед.)</th>
				<th>Количество</th>
				<th>Сумма</th>
			</tr>
		</thead>
	    <tbody>
				<%=f.hidden_field :status, :value=>'Анкета'%>
				<%@products.each do |product|%>
					<%=f.fields_for :line_items do |lf|%>
							<tr >
								<td><label><%=product.name%></label>
								</td>
								<td >
									<label><%=product.price%></label>
									<%= lf.hidden_field "#{product.id}[price]", :value=>product.price, :class=>'prpr'%>
								</td>
								<td>
									<%= lf.text_field "#{product.id}[quantity]", :class=>'span1 item-quantity',:value=>0%>
								</td>
								<td class='summa'></td>	
							</tr>
					<%end%>
					
				<%end%>			
		</tbody>
	</table><div class='req_errors span3 rqer'><%= render :partial=>'orders/errors'%></div>
		<%=f.submit :value=>'Отправить анкету',:class=>'btn btn-primary', :style=>'float:right'%><%= @quantity_all%>
<%end%>
