<section class="section-content section-news" id="section-news">
    <div class="container">
	    <div class="row">
	        <div class="span3">
	          <h2 class="section-title">
	            Новости
	            <small>Последние новости о нашей компании, продуктах и услугах</small>
	          </h2>
	        </div>
	     	<div class="span9">
	        	<%unless @news.empty?%>
	        		<%@news.each do |post|%>
				        <div class="row">
				          	<%if  post.photo.url!='/photos/original/missing.png'%>
					            <div class="span3">
						              <figure>
						                <%=link_to "/news/#{post.id}" do %>
											<%= image_tag post.photo.url(:medium)%>
										<% end%>
						              </figure>
					            </div>
				            <%end %>
				            <div class="span6">
				              <h4>
				                <%= link_to post.title, "/news/#{post.id}"%>
				              </h4>
				              <p><%=post.preview%></p>
				            </div>
				        </div>
				        <hr> 
	        		<%end%>
	        	<%end%>
	        </div>
	    </div>
	    <div class="row">
        	<div class="span9 offset3">
         		 <div class="pagination">
         		 	<ul>
           			 <%= paginate @news %>
           			</ul>
         		 </div>
       		</div>
        </div>
    </div>
</section>
<%content_for :footer do %>
	<span></span>
<%end%>