 <section class="section-content section-news-item" id="section-news-item">
    <div class="container">
      <h2 class="section-title">
        <%=@post.title%> <%=@posts.size%>
      </h2>
      <div class="row">
        <div class="span8">
          <%if @post.photo.url!='/photos/original/missing.png'%>
          <figure>
            <%=image_tag @post.photo.url(:large)%>
          </figure>
          <%end%>
          <p><%= raw @post.content%></p>
        </div>

        <div class="span3 offset1">
            <h4>Последние новости</h4>
            <%Post.last(6).each do |post|%>
                <div class="media">
                  <%if post.id!=@post.id%>

                      <%if post.photo.url!='/photos/original/missing.png'%>
                         <%= link_to "/news/#{post.id}", :class=>"pull-left" do %>
                              <%=image_tag post.photo.url(:small)%>
                         <%end%>
                      <%else%>
                              <p class="pull-left" style='margin-left:64px' >
                              </p>
                      <%end%>
                      <div class="media-body">
                         <p class="media-heading">
                           <%= link_to post.title, "/news/#{post.id}"%>
                         </p>
                      </div>
                  <%else%>
                       <p class="pull-left" >
                          <%if post.photo.url!='/photos/original/missing.png'%>
                            <%=image_tag post.photo.url(:small)%>
                          <%end%>
                       </p>

                    <div class="media-body">
                      <p class="media-heading">
                       <%=post.title%>
                      </p>
                    </div> 
                <%end%>
              </div>
            <%end%>
        </div> 
          
      </div>
    </div>
  </section>
  <%content_for :footer do %>
    <span></span>
  <%end%>