<!--<%= form_for :item,:remote=>true do |f|%>
	<tbody>

				<tr >
					<td><label><%=product.name%></label>
						<%= f.hidden_field :material_id, :value=>product.id%>
					</td>
					<td>
						<label><%=product.price%></label>
						<%= f.hidden_field :price, :value=>product.price%>
					</td>
					<td>
						<%= f.text_field :quantity, :class=>'span1 item-quantity'%>
					</td>
					<td>
						<%= f.hidden_field :order_id, :value=>order.id%>
						<%#=f.submit 'подтвердить изменения', :class=>'btn btn-small'%>
					</td>	
				</tr>
	</tbody>
<%end%>-->