 <%=form_for user,:url=>'/users/registrations',:html=>{:class=>"form-vertical",:id=>'request-form', :remote=>true} do |f| %>
	<div class='control-group'>
              <%= f.text_field :company, :class=>'span3', :id=>"request-name",:placeholder=>'Компания или физ. лицо'%>
    </div>
    <div class="ui-widget control-group", style='font-size:1em !important;'>
              <label for="request-region"></label>
              <%= f.text_field :region ,:class=>"span3",:id=>'tags', :placeholder=> 'Регион', :style=>'font-size:1em !important;'%>
     </div>
    <div class="control-group">
              <label for="request-contact"></label>
              <%= f.text_field :contact ,:class=>"span3",:id=>'request-contact', :placeholder=> 'Контактное лицо'%>
    </div>
    <div class='control-group'>
              <label for="request-name-surname"></label>    
              <%= f.text_field :phone ,:class=>"span3", :id=>"request-phone", :placeholder => 'Контактный телефон'%>
    </div>
	<div class="control-group">
              <label for="request-email"></label>
              <%= f.email_field :email ,:class=>"span3",:id=>'request-email', :placeholder=> 'email*'%>
    </div>
    <div class='control-group'>
            	<label ></label>
            	<%= f.password_field :password, :class=>'span3',:placeholder=>'Пароль*' %>
    </div>
    <div class='control-group'>
            	<label ></label>
              <%= f.password_field :password_confirmation, :class=>'span3',:placeholder=>'Подтверждение пароля*' %>
              <%#=f.hidden_field :interes, :value=>true%>
    </div>  

		<p class="help-inline err_reqq" style='display: block;'>
			<%#= devise_error_messages! %>
		</p>
        	 <div><%=f.submit "Зарегистрироваться",:class=>'btn btn-small',:id=>'create-user'%></div>
<% end %>
     